
@{
    ViewData["Title"] = "index";
}

@section scripts{

    <script src="~/Scripts/ListaPreinscripcion.js" type="module"></script>

}


<div class="row">
    <div class="col-lg-12">

        <div class="card border-0 shadow-none">

            <div class="card-header">
                <h2> Listado de Preinscriptos </h2>
            </div>

            <div class="card-body p-1">

                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered  table-striped table-xs" style="background-color: #FFF;" id="table_preinscripcion">
                            <thead style="background-color: #004b87; color: #fff;">
                                <tr>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Apellidos</th>
                                    <th>Identificación</th>
                                    <th>Email</th>
                                    <th>Ciudad</th>
                                    <th>Telefono</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>


